<ion-header>
    <ion-toolbar>

        <ion-title>
            <!--Back button-->
            <ion-icon name="arrow-round-back" (click)="backToLogin()"></ion-icon>
            register
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br/> <br/> <br/>
    <ion-list>
        <ion-card>
            <ion-item>
                <ion-label position="floating">Full name</ion-label>
                <ion-input type="text" [(ngModel)]="full_name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Email </ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="number" [(ngModel)]="phone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="Password" [(ngModel)]="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="Password" [(ngModel)]="password_confirmation"></ion-input>
            </ion-item>
        </ion-card>


    </ion-list>
    <br/>

    <ion-button fill="solid" expand="block" color="secondary" (click)="register()">Register</ion-button>


</ion-content>